.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    text-align: left;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    margin-left: 260px;
    padding: 20px;
}

/* Estilos para los iconos */
.fa-icon {
    margin-right: 10px;
}
