<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Informe Académico - {{ curso.nombre }}</title>
    <style>
        body { font-family: Arial, sans-serif; font-size: 12px; }
        h1 { font-size: 20px; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; }
        th { background-color: #333; color: white; }
    </style>
</head>
<body>
    <h1>Informe Académico - {{ curso.nombre }}</h1>
    <p>Estudiantes: {{ estudiantes|length }}</p>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Calificaciones</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.apellido }}</td>
                <td>{{ estudiante.notas }}</td> <!-- Mostrar las calificaciones separadas por guion -->
                <td>{{ estudiante.promedio_notas }}</td> <!-- Mostrar el promedio -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>

</html>
