{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Calificaciones - {{ curso.nombre }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        /* Tu estilo aquí... */
    </style>
</head>
<body>
    <div class="sidebar">
        <h2>Menú</h2>
        <ul>
            <li><a href="{% url 'profesor' %}">Profesor</a></li>
            <li><a href="{% url 'profesor_cursos' %}">Mis cursos</a></li>
            <li><a href="{% url 'registrar_asistencia' curso.id %}">Registrar asistencia</a></li>
            <li><a href="{% url 'registrar_calificaciones' curso.id %}">Registrar calificaciones</a></li>
            <li><a href="{% url 'registro_academico' curso.id %}">Registro Académico</a></li>
            <li><a href="{% url 'observaciones' curso.id %}">Observaciones</a></li>
        </ul>
    </div>

    <div class="main-content">
        <div class="container">
            <h1>Registrar Calificaciones para {{ curso.nombre }}</h1>

            <form method="post">
                {% csrf_token %}
                <table>
                    <thead>
                        <tr>
                            <th>Alumnos</th>
                            <th>Calificación</th>
                            <th>Promedio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alumno, form in form_list.items %}
                            <tr>
                                <td>{{ alumno.nombre }} {{ alumno.apellido }}</td>
                                <td>{{ form.nota }}</td>
                                <td>{{ promedios[alumno.id]|floatformat:2 }}</td> <!-- Redondear a dos decimales -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="buttons">
                    <button type="submit" class="btn">Guardar</button>
                    <button type="button" class="btn btn-back" onclick="window.location.href='{% url 'profesor_libro' curso.id %}'">Regresar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
