.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.main-content {
    padding: 20px;
    flex-grow: 1;
    background-color: #f4f4f4;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 10px;
    text-align: center;
}

.btn-modificar, .btn-guardar {
    margin: 10px;
    padding: 10px;
    background-color: yellow;
    border: none;
    cursor: pointer;
}
